// Menu
// ------------------------------

#menu-block {
	height: 760px;
	width: 760px;
	position: fixed;
	display: none;
}

// Path
// ------------------------------

path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg {
	position: absolute;
	left: 60px;
	top: 60px;
}

// Trigger
// ------------------------------

$trigger-size: 120px;

.trigger-area {
	height: $trigger-size;
	width: $trigger-size;
	border: #EFEFEF 1px dashed;
	border-radius: 50%;
	position: absolute;

	&.trigger--start {
		left: 320px;
		top: 320px;
	}

	&.trigger--top {
		left: 320px;
		top: 0;
	}

	&.trigger--right {
		left: 640px;
		top: 320px;
	}

	&.trigger--bottom {
		left: 320px;
		top: 640px;
	}

	&.trigger--left {
		left: 0px;
		top: 320px;
	}

	&.triggered {
		&.r {border: #e74c3c 1px dashed;}
		&.g {border: #2ecc71 1px dashed;}
		&.b {border: #3498db 1px dashed;}
		&.y {border: #f1c40f 1px dashed;}		
	}
}