<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

	<div id="menu-block" style="display: block; position: relative; margin: 0 auto;">
		<svg id="result-svg" width="760" height="760" style="left:0;top:0;">
	  	<path id="pathRight" d="M380 380 A80 80,0 0 1 540 380 L700 380" stroke="#2ecc71" stroke-width="15" stroke-opacity="0.1"/>
	  	<path id="pathBottom" d="M380 380 A80 80,0 0 1 380 540 L380 700" stroke="#3498db" stroke-width="15" stroke-opacity="0.1"/>
	  	<path id="pathLeft" d="M380 380 A80 80,0 0 1 220 380 L60 380" stroke="#f1c40f" stroke-width="15" stroke-opacity="0.1"/>
	  	<path id="pathTop" d="M380 380 A80 80,0 0 1 380 220 L380 60" stroke="#e74c3c" stroke-width="15" stroke-opacity="0.1"/>
	  </svg>
  </div>

	<% include ../partials/include %>
	<script type="text/javascript" src="js/pathr.js"></script>
</body>
</html>