<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

	<div id="menu-block" style="display: block">
		<svg id="result-svg" width="640" height="640">
	  	<path id="pathRight" d="M320 320 A80 80,0 0 1 480 320 L640 320" stroke="#2ecc71" stroke-width="15" stroke-opacity="0.1"/>
	  	<path id="pathBottom" d="M320 320 A80 80,0 0 1 320 480 L320 640" stroke="#3498db" stroke-width="15" stroke-opacity="0.1"/>
	  	<path id="pathLeft" d="M320 320 A80 80,0 0 1 160 320 L0 320" stroke="#f1c40f" stroke-width="15" stroke-opacity="0.1"/>
	  	<path id="pathTop" d="M320 320 A80 80,0 0 1 320 160 L320 0" stroke="#e74c3c" stroke-width="15" stroke-opacity="0.1"/>
	  </svg>
	  <div class="trigger-area trigger--start"></div>
		<div class="trigger-area trigger--end trigger--top"></div>
	  <div class="trigger-area trigger--end trigger--right"></div>
	  <div class="trigger-area trigger--end trigger--bottom"></div>
	  <div class="trigger-area trigger--end trigger--left"></div>
  </div>

	<% include ../partials/include %>
	<script type="text/javascript" src="js/pathr.js"></script>
</body>
</html>